@tailwind base;
@tailwind components;
@tailwind utilities;

@import "common/colors";
@import "common/fonts";

@import "components/accordion";

html {
  background-color: $secondary;
  color: $support;
  font-family: $font-family-main;
  overflow-x: hidden;
}

.wrapper {
  max-width: 1240px;
  margin: 0 auto;
}