.accordion-icon {
  position: relative;
  @apply border-black border w-8 h-8 rounded-full;

  &::before {
    content: "+";
    @apply w-8 h-8;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: 30px;
    font-weight: 700;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}